<h2 class="mt-4 text-lg font-semibold leading-6 text-gray-900">Edit Polling Locations for <%= @riding.name %></h2>

<% if flash[:alert] %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<%= form_with url: riding_polling_locations_path(@riding), method: :patch, local: true do %>
    <div class="mt-6 p-6 border border-gray-500 rounded-lg grid grid-cols-6 gap-8">
        <div class="col-span-2 font-medium">Title</div>
        <div class="col-span-1 font-medium">Address</div>
        <div class="col-span-1 font-medium">City</div>
        <div class="col-span-1 font-medium">Postal Code</div>
        <div class="col-span-1 font-medium">Polls</div>

        <% @polling_locations.each do |polling_location| %>
            <div class="col-span-2">
                <%= text_field_tag "polling_locations[#{polling_location.id}][title]", polling_location.title, class: "border rounded p-1 w-full" %>
            </div>
            <div class="col-span-1">
                <%= text_field_tag "polling_locations[#{polling_location.id}][address]", polling_location.address, class: "border rounded p-1 w-full" %>
            </div>
            <div class="col-span-1">
                <%= text_field_tag "polling_locations[#{polling_location.id}][city]", polling_location.city, class: "border rounded p-1 w-24" %>
            </div>
            <div class="col-span-1">
                <%= text_field_tag "polling_locations[#{polling_location.id}][postal_code]", polling_location.postal_code, class: "border rounded p-1 w-24" %>
            </div>

            <div class="col-span-1">
                <div data-controller="poll-manager" class="col-span-1" data-polling-location-id="<%= polling_location.id %>">
                    <div class="border border-gray-300 rounded-lg p-2 w-full">
                        <div class="flex flex-wrap gap-1 max-h-32 overflow-y-auto mb-2" data-poll-manager-target="existingPolls">
                            <% polling_location.polls.each do |poll| %>
                                <button type="button" class="poll-button bg-blue-500 text-white px-2 py-1 rounded m-1 flex items-center" data-poll-number="<%= poll.number %>">
                                    <%= poll.number %>
                                </button>
                            <% end %>
                        </div>
                        <input
                            type="text"
                            placeholder="Add poll number"
                            data-poll-manager-target="pollInput"
                            class="border rounded p-1 w-full mt-1"
                            data-action="keydown->poll-manager#addPoll"
                        />

                        <input 
                            type="hidden" 
                            name="polling_locations[<%= polling_location.id %>][poll_numbers][]" 
                            value="<%= polling_location.polls.pluck(:number).join(',') %>" 
                            class="poll-numbers"
                        />

                    </div>
                </div>
            </div>
        <% end %>

        <div class="col-span-6 flex justify-end mt-4">
            <%= link_to "Cancel", riding_path(@riding), class: "bg-gray-300 text-gray-800 rounded p-2 hover:bg-gray-400 transition-colors duration-200 mr-2" %>
            <%= submit_tag "Save All Changes", class: "bg-blue-500 text-white rounded p-2 hover:bg-blue-700 hover:shadow-lg transform hover:scale-105 transition-all duration-200" %>
        </div>
    </div>
<% end %>   
